@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* common section */
:root {
    --primary-color: #1A0B2E;
    --secondary-color: #00FF88;

    --background-color: #230E3D;
    --card-color: rgba(53, 17, 101, 0.4);
    
    --text-size: 1rem;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
}

/* bacground color  */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-background {
    background-color: var(--background-color);
}

.bg-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.bg-card2 {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.bg-secondary {
    background-color: var(--secondary-color);
}



/* button  */
button {
    font-size: 1rem;
}

.primary-btn {
    background: linear-gradient(
        to top right,
        #F7E93F 0%,
        #FB09B4 50%,
        #9100F8 100%
    )
}

.logo-wave {
    color: linear-gradient(
        to right,
        #F7E93F 0%,
        #FB09B4 50%,
        #9100F8 100%
    )
}
.primary-btn{
  transition: 0.5s ease;
}

.primary-btn i{
  transition: 0.5s ease;
}

.primary-btn:hover{
  transform: translateY(-2px);
}

.primary-btn:hover i{
  transform: translateX(10px);
}
.primary-btn:hover i{
  transform:translateX(10px);
}

/* text styles */
.primary-text {
    color: var(--primary-color);
}
.secondary-text {
    color: var(--secondary-color);
}
.nav-text {
    font-size: 1rem;
    opacity: 0.9;
    line-height: 120%;
}

.about-paragraph {
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}

.card-paragraph {
    font-size: 1rem;
    line-height: 24px;
    color: white;
    opacity: 0.6;
    font-weight: 400;
}

.card-header {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: auto;
}

.section-header {
    font-size: 3rem;
    font-weight: 700;
}

header {
    border-bottom: 1px solid #412567;
}

#premium{
    grid-area: premium;
}
#mobile {
    grid-area: mobile;
}
#global {
    grid-area: global;
}
#interview {
    grid-area: interview;
}
#rich {
    grid-area: rich;
}

.grid-container {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "premium mobile mobile"
        "premium global global"
        "interview interview rich"
}

iframe {
    border-radius: 24px 24px 0 0;
}

#host .icon-wrapper {
    border-radius: 50%;
    border: 1px solid #533C72;
}

#new {
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.secondary-btn {
    border: 1px solid #00FF88;
}